.part1 {
    background-image:url(../images/assets/backgrounds/hero.jpg);
    height: 800px;
    padding-bottom: 0px;

      }

.part1 p {
     color: white;
      }

.part1 h1 {
    color: white;
    text-align: center;
  }

#gender{
    padding-top: 0;
    border-top: 0;
}

#panel{
    padding-top: -0;
    margin-top: -0;
}

.image {
      background-image: url(../images/assets/products/tshirt.png);
  }
.section4 {
      background-image:url(../images/assets/backgrounds/about.jpg);
      height: 400px;
  }
.about{
    padding-top: 80px;
      border-style: solid;
        border-width: 1px;
        color: white;
        font-size: 25px;
  }

#nav{
    height: 100px;
    
}

#nav img{
    padding-right: 400px;
}

#nav p{
    font-size: 20px;
    padding-top: 25px;
}
.section6{
      text-align: center;
      padding: 50px;
  }

#footer{
    height: 300px;
}
.section3{
      background-color: rgba(195,131,76);
  }